h1{
			text-align: center;
			font: 400 80px/1.3 'Oleo Script', Helvetica, sans-serif;
			color: #2b2b2b;
			text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

.bookSummaryDiv{
  padding: 50px 0px;
}

a:hover {
  text-decoration: none;
  color: #ffeaf8;
}

button a{
  color: #9e199e;
}
/*.container {
  margin-right: 10px;
}
*/

a.link_text_color{
  color: #000000;
}

a.link_text_color:hover{
  color: #9e199e;
}

.carousel-item{
  background-color: #000; 
  text-align: center;
}

.writeReview {
  float: right;
  width: 300px;
  height: 60px;
  font-size: 24px;
  font-weight: bold;   
}

.right-align{
  float: right;
}

.reviewEven {
    background-color: #f3f3f3;
    color: black;
    padding: 20px;
  } 

  .reviewOdd {
    background-color: #e7e7e7;
    color: black;
    padding: 20px;
  } 

.resize {
    width:100px;
    max-width: 100%;
}

img {
    max-width: 100%;
}

h3 {
    font-size: 1.2rem;
}
  
  .contact_form_box {
    font-size: 15px;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #dee2e6;
  }
  
  .contact_form_box input,
  .contact_form_box select,
  .contact_form_box textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding: 0;
    resize: none;
    border: none;
    font-family: 'Lora', 'Times New Roman', serif;
  }

  .contact_form_box input::-webkit-input-placeholder,
  .contact_form_box textarea::-webkit-input-placeholder {
    color: #868e96;
    font-family: 'Lora', 'Times New Roman', serif;
  }

.resize_form_box{
  margin: 20px 0px 20px 0px;
}